pypdf>=5.0.0
pytest>=8.0.0
mysql-connector-python
PyMuPDF
pydantic
ultralytics
opencv-python
Pillow
Langchain
langchain-community
langchain-openai
langchain-text-splitters
faiss-cpu
Langgraph
python-dotenv